/* gray rectangle with outlines*/
.loginSpace {
    background-color: #E0BBBB;
    border:1px solid black;
    width: 50rem;
    align-items: left;
    height: 17rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signin {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inicioSesion {
    padding-right: 42rem;
    font-family: 'Inter';
    font-size: 1.25rem;
    padding-top: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}